.detail {

  .user {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #dddddd15;

    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
